# Atom
/atom/.apm/
/atom/.node-gyp/
/atom/compile-cache/
/atom/blob-store/
/atom/packages/
/atom/nohub/
/atom/storage/
/atom/nohup.out
# fish
/fish/fishd.*
# vim
nvim/plugged
nvim/.netrwhist
# virtualenvwrapper
/virtualenvwrapper-hooks/.no_pyc
# vscode
/vscode/workspaceStorage
/vscode/gpm*
!/.vscode
# zsh
/zsh/local.zsh
