# atom
atom/blob-store
atom/compile-cache
atom/dev
atom/nohup.out
atom/packages
atom/storage
atom/.apm
atom/.npm
atom/.node-gyp

# fish
fish/fishd.*
fish/fish_history
fish/generated_completions/

# komodo-edit
komodoedit/*/*.bak
komodoedit/*/*.lock
komodoedit/*/*.log
komodoedit/*/*.sqlite
komodoedit/*/*.tmp
komodoedit/*/*.xml
komodoedit/*/*.xmlc
komodoedit/*/autosave
komodoedit/*/codeintel
komodoedit/*/XRE

# vim
/vim/.netrwhist
/vim/bundle
/vim/doc/
/crontab/log
/vim/plugged/

# virtualenvwrapper
/virtualenvwrapper-hooks/.no_pyc

# local
*.local

# cow
cow/stat*
