# bash-scripts
/bash-scripts/mercurial.bash
/bash-scripts/pip.bash
/bash-scripts/django.bash

# fish
fish/fishd.*
fish/fish_history
fish/generated_completions/

# komodo-edit
komodoedit/*/*.bak
komodoedit/*/*.lock
komodoedit/*/*.log
komodoedit/*/*.sqlite
komodoedit/*/*.tmp
komodoedit/*/*.xml
komodoedit/*/*.xmlc
komodoedit/*/autosave
komodoedit/*/codeintel
komodoedit/*/XRE

# vim
/vim/autoload/plug.vim
/vim/.netrwhist
/vim/bundle
/vim/doc/
/crontab/log
/vim/plugged/
