"*":
  "activate-power-mode":
    screenShake:
      enabled: false
  "autocomplete-python":
    pythonPaths: "/home/ali/.virtualenvs/$PROJECT_NAME/bin/python;$PROJECT/venv/bin/python;"
    showTooltips: true
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "__pycache__"
      "Thumbs.db"
    ]
    projectHome: "/home/ali/Workspace"
  editor:
    softWrap: true
    tabLength: 4
  welcome:
    showOnStartup: false
