"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".idea"
      ".vscode"
      "node_modules"
    ]
    telemetryConsent: "no"
  editor:
    showLineNumbers: false
  "exception-reporting":
    userId: "6bd52030-1f42-47e4-8376-31e9e620798a"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "platformio-ide-terminal":
    style:
      animationSpeed: 100
      fontSize: "10"
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
