"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    showLineNumbers: false
  "exception-reporting":
    userId: ""
  welcome:
    showOnStartup: false
