'.platform-linux':
  'ctrl-o': 'fuzzy-finder:toggle-file-finder'
  'ctrl-shift-p': 'project-plus:toggle-project-finder'

'atom-text-editor:not([mini])':
  'ctrl-d': 'editor:delete-line'
  'f1': 'line-numbers:toggle'

'.tree-view':
  'ctrl-h': 'tree-view:toggle-vcs-ignored-files'
  'left': 'tree-view:recursive-collapse-directory'
