'.platform-linux':
  'ctrl-o': 'fuzzy-finder:toggle-file-finder'
  'ctrl-h': 'git-plus:menu'
  'ctrl-p': 'command-palette:toggle'
  'ctrl-shift-o': 'fuzzy-finder:toggle-git-status-finder'
  'ctrl-shift-p': 'project-manager:list-projects'

'atom-text-editor:not([mini])':
  # 'ctrl-d': 'editor:delete-line'
  'f1': 'line-numbers:toggle'

'.tree-view':
  'left': 'tree-view:recursive-collapse-directory'
  'ctrl-h': 'tree-view:toggle-vcs-ignored-files'

'body atom-text-editor.autocomplete-active':
  'up': 'autocomplete-plus:move-up'
  'down': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'pageup': 'autocomplete-plus:page-up'
  'pagedown': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'
