'.source.yaml':
    'template':
        'prefix': 'template'
        'body': """
        # vim: ts=2: sw=2: et
        ---

        $1

        ...
        """

'.source.python':
    'template':
        'prefix': 'template'
        'body': """
        #!/usr/bin/env python
        # vim: ts=4: sw=4: et

        __author__ = "Ali Vakilzade <ali@vakilzade.com>"

        $1

        """
